<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   
    <title><%= content_for?(:title) ? yield(:title) : "PhotoBomb" %></title>
    <%= csrf_meta_tags %>

   
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"> Ann Adaya | Web Developer </a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav ">
            <li><%= link_to "Projects", "/path1"  %></li>
            <li><%= link_to "About", "/path2"  %></li>
            <li><%= link_to "Blog", "/path3"  %></li>
          </ul>
          <ul class="nav navbar-right col-md-4">


<!-- If I have a current user, and is logged in to with a class of username, then we have a logout button. and if not, then I have a link for signing in and the path that all this go to is called devise path-->
            <% if current_user %>

            <li class="col-md-8 user-name">

            <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe,

            edit_user_registration_path, title: 'Edit Profile' %>

            </li>

            <li class="col-md-1"> </li>

            <li class="col-md-3 logout"><%= link_to('Logout', destroy_user_session_path,

            class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %></li>

            <% else %>

            <li class="col-md-4 pull-right">

            <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>

            </li>

            <% end %>

</ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2019</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
